{% extends "coordi/layout.html" %}

{% block nav %}
    {% include "coordi/navTeacher.html" %}
{% endblock %}

{% block body %}
    <h1>{{student.first_name}} {{student.last_name}}'s Assignments</h1>
    <div class="grid-table-wrapper">
        <div class="grid-row-wrapper">
            <p>Assignment Name</p>
            
            <p>Assigned</p>
            <p>Status</p>
            <p>Date</p>
        </div>
        {% for assignment in assignments %}
            <div class="grid-row-wrapper">
                <p>{{assignment.go_id}}</p>
                
                <p>{{assignment.assigned}}</p>
                
                {% if not assignment.completed %}
                    <p> in progress </p>
                    <p> assigned on: {{assignment.assigned}}</p>
                {% endif %}
                {% if assignment.completed and not assignment.graded %}
                    <p>
                        <a href="{% url 'grades' %}"> ready to grade </a>
                    </p>
                    <p> submitted on: {{assignment.completed}}</p>
                {% endif %}
                {% if assignment.graded %}
                    <p> final grade: {{assignment.grade}}</p>
                    <p> graded on: {{assignment.graded}}</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}