{% load static %}

<nav id="header" class="navbar navbar-expand-lg navbar-dark bg-coordi">
    <a class="navbar-brand" href="{% url 'index' %}">Coordi<span>GO</span></a>
    <div style="margin-left: auto;">
        <a href="javascript:void(0);" id="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item">
                <a class="nav-link ghostwhite {% if 'assignments' in request.path %}active{% endif %}" href="{% url 'assignments_student' %}">My Assignments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link ghostwhite {% if 'grades' in request.path %}active{% endif %}" href="{% url 'grades_student' %}">My Grades</a>
            </li>
            <li class="nav-item">
                <a class="nav-link ghostwhite {% if 'profile' in request.path %}active{% endif %}" href="{% url 'profile_student' %}"><b>{{user.username}}</b></a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link ghostwhite" href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
    </div>
    <div class="nav-rounded-bottom"></div>
</nav>